    <div class="dock-container">
        <a href="/" class="dock-btn <%= activePage === 'episodes' ? 'active' : '' %>" title="Home"><i data-lucide="house" class="w-5 h-5 md:w-6 md:h-6"></i></a>
        <a href="/about" class="dock-btn <%= activePage === 'about' ? 'active' : '' %>" title="About"><i data-lucide="info" class="w-5 h-5 md:w-6 md:h-6"></i></a>
        <a href="/blog" class="dock-btn <%= activePage === 'blog' ? 'active' : '' %>" title="Blog"><i data-lucide="layout-list" class="w-5 h-5 md:w-6 md:h-6"></i></a>
        <a href="/contact" class="dock-btn <%= activePage === 'contact' ? 'active' : '' %>" title="Contact"><i data-lucide="mail" class="w-5 h-5 md:w-6 md:h-6"></i></a>
        <div class="w-px h-6 bg-white/10 my-auto mx-1"></div>
        <a href="https://open.spotify.com/show/6Nj2dnv10i5kUTjJJMqbnv?si=6be09e1950d540d0" target="_blank" class="dock-btn text-micRed" title="Player"><i data-lucide="play-circle" class="w-7 h-7 md:w-8 md:h-8"></i></a>
    </div>
